accelerate==0.21.0 # RaDialog repo prefers 0.21.0, but trl requires >=0.34.0
huggingface-hub==0.23.2 # RaDialog repo prefers 0.19.4, but transformers 4.46.0 requires >=0.23.2
timm==0.6.13
transformers==4.31.0 #RaDialog repo prefers 4.31.0, but trl 0.11.0 requires 4.46.0 and unsloth2024.8 requires 4>=4.43.2
scikit-image==0.18.1
peft==0.4.0
pytorch_lightning==1.6.5
chardet==5.2.0
scikit-learn==1.2.2
sentencepiece==0.1.99 # RaDialog prefers 0.1.99 but usloth 2024.8 requires >0.2.0
numpy==1.26.4
openpyxl==3.1.5
trl==0.5.0 # Should be ok to use ( 0.11.0 is the one that introduces a lot more changes, and paul probably uses 0.8.0)
ipykernel==6.29.5
ipywidgets==8.1.5
pytest==8.3.4
seaborn==0.13.2
bitsandbytes==0.41.0
wandb==0.19.7
sentence-transformers==2.2.2

# INSTALLED THROUGH CONDA CHANNELS
# pytorch==2.0.1 
# torchvision==0.15.2 
# torchaudio==2.0.2 
# pytorch-cuda=11.7 

# LOCAL DEPENDENCY: radialog package
# LOCAL PACKAGE TO BE CREATED: RewardingVisualDoubt (pip install -e . --config-settings editable_mode=compat)